[Unit]
Description = Calchas Recorder
Wants = network.target
After = network.target

[Service]
Type = simple
ExecStart = python3 /home/pi/git/calchas-git/bin/calchas-recorder.py /home/pi/git/calchas-git
WorkingDirectory = /home/pi/git/calchas-git
User = pi

[Install]
WantedBy = multi-user.target
